<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test">
	  <groups>
	<run>
		<include name="Smoke Testing"/>
				<exclude name="REgression"/>

		
	</run>
</groups>
    <classes>
      <class name="TestNGBasics.groupsInTestNG"/>
      <class name="TestNGBasics.test2TestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
